* {
    margin: 0;
    padding: 0;
}

.card {
    width: 328px;
    height: 500px;
}

.card .card-img {
    width: 327px;
    height: 250px;
    background-color: rgb(235, 240, 238);
}

.card1 {
    width: 328px;
    height: 352px;
    background-color: rgb(235, 240, 238);;
}

.text {
    width: 50%;
}

.infoform {
    width: 80%;
    margin: auto;
}

.infoform input {
    width: 90%;
}

.infoform textarea {
    width:90%
}