* {
    margin: 0;
    padding: 0;
}

.card {
    width: 350px;
    height: 500px;
}

.card .card-img {
    width: 348px;
    height: 250px;
    background-color: rgb(235, 240, 238);
}

.card1 {
    width: 327px;
    height: 352px;
    background-color: rgb(235, 240, 238);;
}